 <html>
  <head>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    
    <body>
    
       <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                </a>
                <a class="py-2 d-md-inline-block" href="/university">Adm.Universidades</a> 
                <a class="py-2 d-md-inline-block" href="/career">Adm.Carreras</a>
                <a class="py-2 d-md-inline-block" href="/subject">Adm.Materias</a>
                
            </div>
        </nav>
        
        <h2>Actualizaci&oacute;n de Universidades</h2>
  <div class="card bg-light col-md-7 mt-5 p-3 mx-auto">  
   <form action="#" th:action="@{/university/update}" th:object="${university}"
	method="post">
	<input type="hidden" th:field="*{id}" />
	
 <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="name"  value="" th:field="*{name}" placeholder="Escribir el nombre..." >
            </div>
            
             
	<input class="btn btn-warning float-left" type="submit" value="Editar Universidad" />
</form>
<form action="#" th:action="@{/university/delete/{id}(id=${university.id})}" method="post">
	<input class="btn btn-danger float-left ml-3  " type="submit" value="Borrar Universidad" />
</form>

<br>
		<br>
		<h4>Carreras</h4>
     <table class="table table-bordered table-stripped table-hover table-sm">
	<thead class="thead-dark">
		<tr>
		            <th>Nombre</th>
                   
                    <th colspan="2" class="text-center">
			<a href="/career/new" class="btn btn-success px-4"> 
			<i class="far fa-plus-square fa-lg mr-2"></i> Agregar
			</a></th>   
		</tr>
		</thead>
	<tbody>
		<tr th:each="career : ${careers}">
		    <td><span th:text="${career.name}"/></span></td>
			
			<td><a th:href="@{/career/{idCareer}(idCareer=${career.idCareer})}"
				class="btn btn-info px-4"><i
					class="far fa-edit fa-lg mr-1"></i> Ver</a></td>
		</tr>
	  </tbody>
     </table>
</div>

    
    </body>
</html>
